# Server URL
#SERVER_URL=http://localhost:8080/v1/chat/completions

# Piper model
#PIPER_MODEL_CONFIG=en_US-hfc_female-medium.onnx.json

# Whisper model
#WHISPER_MODEL=small.en.bin

# Max silence before transcribing 62 * 256 frames ~= 1 second
#MAX_SILENCE_FRAMES=62

# Minimum voice detection score after recording starts
#MIN_SCORE_RECORDING=0.5

# Minimum voice detection score to start recording
#MIN_SCORE_WAKE=0.75

# Loging options (see env_logger documentation)
#RUST_LOG=vadinator